<div class="clase-header2 blue">
      <a href="javascript:history.back()" class="back-button"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i></a>

      <h1 class="category-title">Add Transaction</h1>
      <a href="<%= purchases_path %>" class="btn-login blue"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a>
    </div>


<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
<div class="container">

<%= form_with(model: @purchase, url: purchases_path, local: true) do |form| %>


    <div class="field">
  <%= form.text_field :name, required: true, placeholder: "Name", class: "input" %>
</div>

<div class="field">
  <%= form.number_field :amount, required: true, placeholder: "Amount", class: "input" %>
</div>

<div class="field field-category">
  <%= label_tag 'category_ids', 'Select a Category:', class:"label-category" %>
  <%= form.collection_select :category_ids, current_user.categories, :id, :name, required: true, class: "input" %>
</div>
  


    <div class="new-button-container footer">
      <%= form.submit "Save", class: "start-button new-button green pointer" %>
    </div>
  <% end %>
</div>