<div>
  <div>
    <div>
      <a href="<%= home_start_path %>">←</a>
      <h2>CATEGORIES</h2>
      <a href="<%= home_start_path %>">🔍</a>
    </div>
    <div>
      <div>
        <p></p>
        <div></div>
      </div>
      <div>
        <p>Most recent</p>
        <div>•</div>
      </div>
      <div>
        <p>Most ancient</p>
        <div>•</div>
      </div>
    </div>
  </div>

  <div>
    <h3>Gift credit</h3>
    <%=@total_purchases%>
  </div>

  <hr>

  <% @categories.each do |category| %>
    <div>
      <%= image_tag category.icon %>
      <div>
        <%= link_to category.name, purchases_path(category_id: category.id) %>



        <p></p>
        <p>Total: <%= category.category_total %></p>
      </div>
    </div>
    <hr>
  <% end %>

  <a href="<%= new_category_path %>">
    <p>NEW CATEGORY</p>
  </a>
</div>
