<div>
  <div class= "blue">
    <div class="header-container blue">
     <a href="<%= home_start_path %>" class="back-arrow">←</a>
     <h2 id="login-title">CATEGORIES</h2>
     <a href="<%= home_start_path %>" class="btn-login blue">🔍</a>
    </div>
    <div class="big-div">
  <div class="small-div">
    <p class="text">Some text</p>
    <div class="dot">•</div>
  </div>
  <div class="small-div">
    <p class="text">Most recent</p>
    <div class="dot">•</div>
  </div>
  <div class="small-div">
    <p class="text">Most ancient</p>
    <div class="dot">•</div>
  </div>
</div>

  <div>
    <h3>Gift credit</h3>
    <%=@total_purchases%>
  </div>

  <hr>

  <% @categories.each do |category| %>
    <div>
      <%= image_tag category.icon %>
      <div>
        <%= link_to category.name, purchases_path(category_id: category.id) %>



        <p></p>
        <p>Total: $ <%= category.category_total %></p>
      </div>
    </div>
    <hr>
  <% end %>

  <a href="<%= new_category_path %>">
    <p>NEW CATEGORY</p>
  </a>
</div>
