<div class="blue">
    <div class="container-sm">
      <div class="header-container blue">
        <a href="<%= home_start_path %>" class="back-arrow">←</a>
        <h2 id="login-title">CATEGORIES</h2>
        <a href="<%= home_start_path %>" class="btn-login blue"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a>
      </div>
  
      <div class="d-flex justify-between gap-10">

        <div class="w-1-3">

        </div>

        <div class="small-div w-1-3 d-flex flex-column align-center justify-end most-recent-container ">
          <p class="text">Most recent</p>
          <p class="dot">•</p>
        </div>
        <div class="small-div w-1-3 d-flex flex-column align-center justify-end most-ancient-container">
          <p class="text">Most ancient</p>
          <p class="dot">•</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-sm">
    <div class="d-flex justify-between align-center">
      <h3>Gift credit</h3>
      <p><%=@total_purchases%></p>
    </div>
  </div>
  
  <hr>
  
  <div class="container-sm">
    <% @categories.each do |category| %>
      <div>
        <div class="d-flex justify-between align-start category-container">
          <div class="d-flex justify-between align-start gap-10">
            <div class="icon">
              <%= image_tag category.icon %>
            </div>
            <%= link_to category.name, purchases_path(category_id: category.id), class: "mt-10" %>
          </div>
          <p class="mb-0 mt-10">Total: $ <%= category.category_total %></p>
        </div>
      </div>
    <% end %>
  </div>
  
  </div> 
  
  <div class="button-container">
    <a href="<%= new_category_path %>" class="start-button">NEW CATEGORY</a>
  </div>
  